.tag {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;

    svg {
        height: 12px;
        width: 12px;
        position: relative;
        bottom: 1px;
        fill: var(--color);
        margin-right: 2px;
    }
}
