@import '../../styles/variables';

.flags {
    position: relative;
    display: flex;
}

.flag {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.languageList {
    position: absolute;
    top: 32px;
    right: 0px;
    min-width: 150px;
    min-height: 100px;
    background: var(--background-color);
    border: 1px solid var(--accent);
    box-shadow: var(--border-shadow);
    border-radius: 4px;
    color: var(--color);
    z-index: 1;
}

.language {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.languageText {
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}
