@import '../../styles/variables';

.signIn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 30px;
    max-width: 500px;
    background-color: var(--background-color);
    border-radius: 4px;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        color: var(--cta);
    }
}

.signInSmallText {
    display: flex;
    flex-direction: column;
    min-height: 55px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.signInInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        margin-bottom: 10px;
    }

    span {
        background-color: transparent;
        border: none;
        color: var(--cta);
        cursor: pointer;
        text-align: right;
    }
}

.signInButton {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.error {
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: $red;
    text-align: center;
}
