@import '../../styles/variables';

.input {
    display: flex;
    flex-direction: column;

    input {
        padding: 10px;
        background: #ffffff;
        border-radius: 2px;
        border: none;
        font-size: 18px;
        font-weight: 400;
    }

    span {
        font-weight: 600;
        padding: 10px 0;
        color: $red;
    }
}
