.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 25%;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 4px;
    background-color: var(--project-background-color);
}

.title {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.description {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
}

.time {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: 500;
}

.location {
    padding: 0 0 0 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.project:not(:first-of-type) {
    margin-left: 0.6rem;
}

.project:not(:last-of-type) {
    margin-right: 0.6rem;
}

.cta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 0;

    svg {
        position: absolute;
        left: -5px;
        bottom: 7px;
        fill: var(--color);
    }
}

.ctaButton {
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.link {
    text-decoration: none;
}
