@import '../../styles/variables';

.event {
    padding: 1.4rem;
}

.attendess {
    display: flex;
    align-items: center;
}

.going {
    position: relative;
    right: 20px;
}

.title {
    font-size: 3rem;
}

.description {
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 200;
}

.location {
    position: relative;
    padding-left: 20px;
    color: $purple;

    svg {
        position: absolute;
        left: 0;
        fill: $white;
    }
}
