.event {
    padding: 1.4rem;
}

.eventTitleContainer {
    min-width: 650px;
}

.eventTitle {
    display: flex;
    justify-content: center;

    h1 {
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }
}

.eventTimeAndLocation {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: var(--details);
}

.eventTimeContainer {
    display: flex;
    flex-direction: column;
}

.eventTime {
    font-size: 1rem;
    font-weight: 300;

    &:first-of-type {
        padding-bottom: 5px;
    }
}
