@import '../../styles/variables';

.eventList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 0;
    overflow: hidden;

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
}

.filterDropDown {
    margin: 5px 0px 25px 134px;
}

.showDetails {
    height: auto;
}

.eventRow {
    display: flex;
    width: 100%;
    //min-height: 900px;
    //border-top: 1px solid;
    //border-bottom: 1px solid;
}

.eventRowTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 35px;
    border-right: 1px solid $white;
    color: $purple;
}

.eventRowEvents {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
}

.eventRowWeekday {
    font-size: 1.3rem;
    font-weight: 400;
}

.eventRowDate {
    padding: 10px 0;
    font-size: 3.5rem;
    font-weight: 400;
}

.eventTags {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
