@import '../../styles/variables';

.eventRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 150px;
    width: 100%;
    text-decoration: none;
    color: $white;
    cursor: pointer;

    &:not(:first-of-type) {
        margin-top: 10px;
    }
}

.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.eventPlace,
.eventDuration {
    svg {
        position: relative;
        top: 2px;
        margin-right: 5px;
        fill: var(--color);
    }
}

.eventTitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.eventPlace {
    min-width: 115px;
}

.eventTags {
    display: flex;
}
