$black: #18191a;
$dark: #242526;
$gray: #3a3b3c;
$lightGray: #e4e6eb;
$stone: #b0b3b8;
$purple: #bb86fc;
$darkAccent: #484a4d;
$white: #fff;
$green: #03dac6;
$lightBlue: #00b0ff;
$yellow: #ffe100;
$darkYellow: #ffb300;
$darkPurple: #aa00ff;
$red: #ff1744;
$darkerBlue: #536dfe;
$pink: #ff57bb;
