@import '../../styles/variables';

.calendar {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    border-radius: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

    span {
        flex-basis: 14.28%;
        text-align: center;
    }
}

.calendarContainer {
    flex-basis: 65%;
    margin: 0 20px;
    padding: 10px;
}

.calendarDays {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 300px);
}

.calendarNavigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    button {
        flex-basis: 14.28%;
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
    }
}

.weekday {
    font-size: 1.3rem;
    font-weight: 600;
    color: $darkAccent;
}

.month {
    font-size: 3rem;
    font-weight: 600;
}

.arrowBack {
    fill: var(--color);
    transform: rotate(180deg);
}

.arrowForward {
    fill: var(--color);
}

.filterBy {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;

    span {
        min-height: 30px;
        margin: 5px 0;
        line-height: 30px;
        cursor: pointer;
    }
}
