@import '../../styles/variables';

.calendar {
    max-width: 1000px;
    margin: 50px auto;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

    span {
        flex-basis: 14.28%;
        text-align: center;
    }
}

.calendarDays {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.calendarNavigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    button {
        flex-basis: 14.28%;
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
    }
}

.weekday {
    font-size: 1.3rem;
    font-weight: 600;
}

.month {
    font-size: 3rem;
    font-weight: 600;
}

.arrowBack {
    fill: var(--color);
    transform: rotate(180deg);
}

.arrowForward {
    fill: var(--color);
}
