@import '../../styles/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    box-shadow: var(--border-shadow);
}

.title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color);
}

.headerActions {
    display: flex;
    align-items: center;

    svg {
        margin: 0 0.5rem;
    }
}

.headerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navItem {
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color);
    cursor: pointer;
}

.iconActions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    fill: var(--color);
}
