@import '../../../styles/variables';

.calendarEvents {
    flex-basis: 35%;
    border-radius: 4px;
    cursor: pointer;

    input {
        padding: 15px;
        outline: none;
        background-color: $dark;
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
    }
}

.eventFilter {
    background-color: $dark;
}

.filterTags {
    display: flex;
}

.filterBy {
    padding: 10px;
}

.calendarEventsContainer {
    height: calc(100vh - 250px);
    margin-top: 20px;
    overflow-y: scroll;
}

.eventLink {
    text-decoration: none;
    color: inherit;
}

.event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    background-color: $dark;
    border-radius: 4px;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.eventTitle {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
}

.eventTag {
    margin-top: 10px;
    span {
        margin-left: 0;
    }
}

.tag {
    margin-left: 5px;
    padding: 1px 5px;
    background-color: $green;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
}

.eventHoast {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 5px 0;
    color: $pink;
}

.location {
    position: relative;
    padding-left: 20px;

    svg {
        position: absolute;
        left: 0;
        fill: $white;
    }
}

.eventTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-right: 1px solid $gray;
}

.time {
    font-size: 1.8rem;
    font-weight: 600;
    color: $pink;
}

.duration {
    font-size: 1.2rem;
    font-weight: 300;
}
